<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    {{ if tag == 'all' }}
    ಠ_ಠ Looks of Disapproval and more
    {{ else }}
    {{ looks[0].plain }} Unicode {{ tag.replace('-', ' ') |> titlecase }} Looks
    {{ /if }}
  </title>
  <meta name="description" content="Looks of Disapproval, and other unicode faces and emojis. Plain text and copy pastable." />
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimum-scale=1,maximum-scale=1" />

  <link rel="stylesheet" type="text/css" href="/css/styles.css" />

  <script src="/js/category.js" defer="true"></script>

  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
</head>

<body class="page">

  <div class="content">

  <div class="section tags">
    {{- for t of tags -}}
      <a href="{{ t |> tagurl }}" class="tag {{ if t == tag }}selected{{ /if }}">{{ t.replace('-', ' ') }}</a>
    {{- /for -}}
    <a class="slack" href="https://slack.com/oauth/authorize?scope=commands&client_id=125902939458.125224926177"><img alt="Add to Slack" valign="middle" height="26" width="90" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
  </div>

  <div class="section look-collection">
    {{- for look of looks -}}
      {{- if look.tags.includes(tag) -}}
        <div class="cell">
          <div class="title">{{ look.title |> upperfirst }}</div>
          <div class="plain">
            <div class="selectable" data-clipboard-text="{{ look.plain }}">{{ look.plain.replace("\n", "<br/>") }}</div>
          </div>
        </div>
      {{- /if -}}
    {{- /for -}}
  </div>

  <div class="section pull-request">
    <br/>
    <p>Click on a look to copy it to your clipboard.</p>
    <p>Add new looks by <a href="https://github.com/leighmcculloch/looks.wtf/edit/main/data/looks.json">opening a pull request</a> or an <a href="https://github.com/leighmcculloch/looks.wtf/issues/new">issue</a>.</p>
    <p><a href="/api/v1/{{ tag }}.json">API</a></p>
  </div>

  </div>

</body>

</html>
